<!-- <div class="ui vertical footer segment" id="footer"> -->
<div class = "ui inverted footer segment" style = "background:#921517">
<div class="ui container">
  <div class="ui stackable inverted divided equal height stackable grid">
    <div class="two wide column">
      <h4 class="ui inverted header">About</h4>
      <div class="ui inverted link list">
        <a href="http://www.pokemon.com/us/pokedex/" class="item">Iskolivery</a>
        <a href="#" class="item">Contact Us</a>
        <a href="http://www.facebook.com/bridgetnoelleee" class="item">CS 192 Students</a>
      </div>
    </div>

    <div class="thirteen wide column">
      <h4 class="ui inverted header">Iskolivery: A Crowdsourced Courier Service</h4>
      <p>The Pokédex section has a wealth of information on all the Pokémon creatures from the entire game series. On the main list pages you can see the various stats of each Pokémon.</p>
    </div>
  </div>
</div>
</div>