<tr>
  <td class="collapsing">
	   <div class="ui fitted slider checkbox">
			<input type="checkbox"><label></label>
	   </div>
  </td>
	<td class="single line"> <a href="#"><%= request.requester.email %></a></td>
	<td class="center aligned"><%= request.request.location.name %></td>
	<td class="center aligned"><%= request.request.bounty %></td>
	<td><%= request.request.item_name %></td>
</tr>
