<!DOCTYPE html>
<html>
	<head>
		<meta charset= "utf-8">
		<title>Accepted Requests</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<style type="text/css">
	  body {
/*		background-color: #871012;*/
	    background-color: #F6F6F6;
	  }
	  .ui.menu .item img.logo {
		margin-right: 1.5em;
	  }
	  .main.container {
		margin-top: 3em;
	  }
	  .wireframe {
		margin-top: 2em;
	  }
	  .ui.footer.segment {
		margin: 5em 0em 0em;
		padding: 5em 0em;
	  }
	</style>
	</head>
	<body>
		<div class = "ui container">
<!-- 			<div class = "ui fixed inverted menu">
				<div class = "ui container">
				  <a href="#" class="header item">
					<i class = "truck icon"></i>
					<!img class="logo" src="DevelUp/Logo/develuplogo++.png">
					Iskolivery			  
				  </a>
				  <div class="ui simple dropdown item">
					Your Requests <i class="dropdown icon"></i>
					<div class="menu">
					  <a class="item" href="#">Link Item</a>
					  <div class = "ui button test">Yo</div>
					  <a class="item form">Link Item</a>
					</div>
				  </div>
				</div>
			</div> -->
			
		<div class = "ui borderless fixed large menu" style = "background:#921517">
		    <div class="ui container">
		    	<div class="header item" style="color:#FFFFFF">
		    		Iskolivery
		    	</div>
		    
				<div class="ui simple dropdown item">
				    <a style="color:#FFFFFF">Your Requests</a> 
				    <i class="dropdown icon" style="color:#FFFFFF"></i>
				    <div class="menu">
					    <a class="item" href="#">Link Item</a>
				        <div class = "ui button test">Yo</div>
				        <a class="item form">Link Item</a>
				    </div>
				</div>
			</div>
			<div class="right menu">
				<a class="item" style="color:#FFFFFF">Sign out</a>
			</div>
		</div>

			<br><br>
			<h1>Accepted Requests</h1>			
			<!-- <h1 style = "color:#FFFFFF">Accepted Requests</h1> -->
			<hr>
			<div class = "container">
				<div class = "ui modal">
					<i class="close icon"></i>
					<div class = "header">
						Header
					</div>
					<div class = "content">
						Hello
					</div>
					Hello
				</div>
			</div>

			<table class="ui compact celled definition table">
				<thead>
				<tr>
					<th>Status</th>
					<th>Requester</th>
					<th>Deadline</th>
					<th>Description</th>
					<th>Bounty</th>
				</tr>
				</thead>
			
				<tbody>
					<tr>
						<td class="collapsing">
							<div class="ui fitted slider checkbox">
								<input type="checkbox"> <label></label>
							</div>
						</td>
						<td>John Lilki</td>
						<td>September 14, 2013</td>
						<td>Print my thesis paper behind Shopping Center.</td>
						<td>P100.00</td>
					</tr>
					
					<tr>
						<td class="collapsing">
							<div class="ui fitted slider checkbox">
								<input type="checkbox"> <label></label>
							</div>
					  	</td>
						<td>Jamie Harington</td>
						<td>January 11, 2014</td>
						<td>Please get readings from Ate Jofel and photocopy three more copies.</td>
						<td>None</td>
					</tr>
					
					<tr>
						<td class="collapsing">
							<div class="ui fitted slider checkbox">
								<input type="checkbox"> <label></label>
							</div>
						</td>
						<td>Jill Lewis</td>
						<td>May 11, 2014</td>
						<td>Print my thesis paper behind Shopping Center.</td>
						<td>P50.00</td>
					</tr>
				</tbody>
				
				<tfoot class="full-width">
				<tr>
					<th></th>
					<th colspan="4">
						<div class="ui right floated small primary labeled icon button">
							<i class="user icon"></i> Get More Requests
					</div>
					
					<div class="ui small positive button">
						Submit
					</div>
					
					<div class="ui small  disabled button">
					  Submit all
					</div>
					</th>
				</tr>
			  </tfoot>
			</table>


			<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
		</div>
	
	</body>
</html>